@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #04C6FE;
$main-font: 'Roboto',
sans-serif;
$nav-height: 50px;
$foot-height : 40px;
$background-mech: url(/dist/img/backgroundmech.jpg);
$background-dev: url(/dist/img/backgrounddev.jpg);


@mixin mediaSmall {
    @media screen and (max-width: 530px) {
        @content;
    }
}

@mixin mediaSmallFooter {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaMedium {
    @media screen and (min-width: 531px) {
        @content;
    }
}

@mixin mediaBig {
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

@mixin mediaLarge {
    @media screen and (min-width: 1025px) {
        @content;
    }
}